<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
    <ModulePrefs title=""
                 description="ContentManager jive-sdk app developed by Thoughtworks"
                 author="Siddhartha Deshpande"
                 author_affiliation="Thoughtworks"
                 author_email="siddesh@thoughtworks.com">

        <!-- Commonly used features -->
        <Require feature="dynamic-height"/>
        <Require feature="embedded-experiences"/>
        <Require feature="jive-core-v2" />
        <Require feature="jive-core-v3"/>
        <Require feature="minimessage"/>
        <Require feature="setprefs"/>
        <Require feature="osapi"/>
        <Require feature="views"/>
        <Require feature="jive-connects-v1">
            <Param name="alias:contentService|title:contentService">jive:service://contentService</Param>
        </Require>
        <Require feature="actions">
            <Param name="action-contributions">
                <![CDATA[
                <action id="org.jivesoftware.movecontent.space"
                  path="jive/tabs/places/space"
                  label="Content Manager"
                  view="contentManager"
                />
                <action id="org.jivesoftware.movecontent.group"
                  path="jive/tabs/places/group"
                  label="Content Manager"
                  view="contentManager"
                />
                <action id="com.jivesoftware.launcherlessapp"
                  path="jive/apps/launcher?filter=false()"/>

            ]]>
            </Param>
        </Require>

        <Link rel="Icon"       href="images/moveContent128x128.png" />
        <Link rel="MediumIcon" href="images/moveContent128x128.png" />
        <Link rel="LargeIcon"  href="images/moveContent128x128.png" />

        <Optional feature="content-rewrite">
            <Param name="include-url">*</Param>
            <Param name="exclude-url"></Param>
        </Optional>

    </ModulePrefs>
    <Content type="html" view="contentManager" href="contentManager.html" preferred_height="1000"/>
    <Content type="html" view="embedded,canvas" href="canvas.html" />

</Module>